<%= form_with model: [tasklist, task], class: "flex flex-col" do |f| %>
  <% if task.errors.any? %>
    <h2>
      <%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:
    </h2>
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :title, "Task title", hidden: true %>
  <%= f.text_field :title, 
    placeholder: "My task", 
    autofocus: true, 
    class: "bg-base-100 border border-neutral text-neutral text-sm focus:ring-primary block p-3 h-10 box-border"  
  %>
  <div class="flex gap-4 py-2 flex-row-reverse">
    <%= f.submit nil, class: "btn btn-sm" %>
    <% if @task.persisted? %>
      <%= link_to "Cancel", tasklist_task_path(tasklist, task), class: "btn btn-ghost btn-sm" %>
    <% else %>
      <%= link_to "Cancel", tasklists_path, class: "btn btn-ghost btn-sm" %>
    <% end %>
  </div>
<% end %>
