<%= form_with model: [@tasklist, @task], class: "flex flex-col gap-2" do |f| %>
  <% if task.errors.any? %>
    <h2>
      <%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:
    </h2>
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :title, "Task title", hidden: true %>
  <%= f.text_field :title, 
    placeholder: "My task", 
    autofocus: true, 
    class: "bg-base-100 border border-neutral text-neutral text-sm focus:ring-primary focus:border-neutral block p-3 h-10 box-border"  
  %>
  <%= f.submit nil, class: "bg-neutral text-neutral-content py-3" %>
<% end %>
