<%= form_with model: [@tasklist, @task], class: "flex flex-col gap-2", data: { controller: "form" } do |f| %>
  <% if task.errors.any? %>
    <h2>
      <%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:
    </h2>
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :title, "Task title", hidden: true %>
  <%= f.text_field :title, 
    placeholder: "My task", 
    autofocus: true, 
    data: { action: "blur->form#submit", "form-target": "input" }, 
    class: "bg-base-100 border border-meutral text-neutral text-sm focus:ring-primary focus:border-primary block p-2.5"  
  %>
  <%= f.submit nil, class: "btn" %>
<% end %>
