<%= form_with model: task, class: 'flex flex-col gap-2'  do |f| %>
  <% if task.errors.any? %>
    <h2>
      <%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:
    </h2>
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :title, "Task title" %>
  <%= f.text_field :title, placeholder: "My task", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"  %>
  <%= f.label :completed, "Completed" %>
  <%= f.check_box :completed, checked: task.completed, as: :boolean %>
  <%= f.submit nil, class: "text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center cursor-pointer" %>
<% end %>
