<h1 class='text-2xl font-bold'>
  <%= @task.title %>
  <div>status: <%= @task.completed %></div>
</h1>
<%= link_to "Back", tasklists_path, class: "text-blue-400 hover:text-blue-600" %>
<%= link_to "Edit task", edit_tasklist_task_path(@tasklist, @task), class: "text-blue-400 hover:text-blue-600" %>
<%= button_to "Delete task", [@tasklist, @task], method: :delete, class: "text-red-400 hover:text-red-600"  %>
