<!DOCTYPE html>
<html data-theme="corporate">
  <head>
    <title>Lite Board</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class='h-screen'>
      <% if user_signed_in? %>
        <%= render "layouts/navbar" %>
      <% end %>
      <div id="flash" class="h-6 text-center">
        <%= render "layouts/flash" %>
      </div>
      <div class="p-4">
        <%= yield %>
      </div>
    </div>
    <%= render "shared/modal" %>
  </body>
</html>
